/* grid-column-start: 3;
grid-column-start: 5;
grid-column-end: 4;
grid-column-end: -5;
grid-column-end: 5;
grid-column-end: 5;
grid-column-end: 4;
grid-column-end: 6;
grid-column-start: -4;
grid-column: 4/6;
grid-column: 2/5;
grid-row-start: 3;
grid-row: 3/6 ;
grid-column: 2;  grid-row:5;
grid-column: 2/6;  grid-row: 1/6;
grid-area: 1/2/4/6;
grid-area:2 /3 / 5 / 6;
order: 3;
order: -1;
grid-template-columns: 50%;
grid-template-columns: repeat(8, 12.5%); */